<!-- inicio.component.html -->
<div class="jumbotron text-center" data-intro="¡Bienvenido a RNP CONNECT! Aquí comienza tu viaje.">
    <h1 class="display-4">Bienvenido a RNP CONNECT</h1>
    <p class="lead">Conéctate con tus recursos de manera eficiente.</p>
    <hr class="my-4">
    <p>¡Nos alegra darte la bienvenida a RNP Connect. Estamos encantados de presentar esta herramienta. RNP Connect ha sido diseñada para poner en contacto los distintos departamentos de la empresa en tiempo real.</p>
    <p>Gracias por unirte a RNP Connect. ¡Esperamos que disfrutes de todas las ventajas y funcionalidades que ofrecemos!</p>
    <a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button" (click)="startTour()">Empezar</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" data-intro="Aquí puedes generar y gestionar solicitudes fácilmente.">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Generación de solicitudes</h5>
            <p class="card-text">Solicita y gestiona recursos fácilmente.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary">Ver más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-intro="Esta sección te ayuda a mantener la empresa conectada.">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Mantener la empresa conectada</h5>
            <p class="card-text">Comparte información y colabora sin problemas.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary">Ver más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-intro="Aquí puedes encontrar nuestras informaciones de contacto.">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <p class="card-text">Correo Electrónico: rps&#64;naturepharma.es<br> Correo Electrónico: desarrollos&#64;naturepharma.es<br> Teléfono: Ext. 163 (Jordi) y ext. 197 (Juan)</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href='mailto:desarrollos.naturepharma@naturepharma.es'">Enviar Correo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  