@media (max-width: 767.98px) {
  main {
    padding-top: 56px; /* Altura de la barra de navegación */
  }
}

.offcanvas-md {
  max-width: 300px;
}

@media (min-width: 768px) {
  .offcanvas-md {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
  }
}
