<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-lg-3 d-lg-block bg-light sidebar">
        <div class="position-sticky">
          <div class="p-4">
            <h5 class="my-4">DEPARTAMENTO DE INFORMÁTICA</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" routerLink="inicio-informatica">
                  <i class="fas fa-home me-2"></i> Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-users me-2"></i> Equipo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-tasks me-2"></i> Proyectos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-cog me-2"></i> Configuración
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
    <router-outlet></router-outlet>
    </div>
  </div>